@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: #ECECEC;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #465866; }
  body .wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative; }
    body .wrapper div, body .wrapper ul, body .wrapper li {
      margin: 0;
      padding: 0; }
    body .wrapper a {
      text-decoration: none;
      color: #465866; }
    body .wrapper li {
      list-style-type: none; }
    body .wrapper .sticky {
      position: fixed;
      width: 80.5%;
      left: 10%;
      top: 0;
      z-index: 100;
      border-top: 0; }
    body .wrapper #header span {
      display: inline-block;
      font-size: 2.5rem;
      font-family: 'Anton', sans-serif; }
    body .wrapper #header #header-nav {
      float: right; }
      body .wrapper #header #header-nav li {
        float: left;
        padding-left: 15px; }
    body .wrapper nav {
      height: 60px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      z-index: 5; }
      body .wrapper nav > ul > li {
        position: relative;
        float: left;
        width: 16.25%;
        margin: 0 0.2%; }
        body .wrapper nav > ul > li > a {
          display: block;
          height: 55px;
          background-color: #FFFFFF;
          font-family: Helvetica, Verdana, Arial, sans-serif;
          font-size: 18px;
          line-height: 55px;
          text-align: center; }
        body .wrapper nav > ul > li ul.subs {
          position: absolute;
          top: 100%;
          width: 100%;
          background-color: #FFFFFF; }
          body .wrapper nav > ul > li ul.subs a {
            display: block;
            height: 50px;
            font-size: 14px;
            line-height: 50px;
            text-indent: 3px; }
      body .wrapper nav > ul li.color-blue {
        border-top: 5px solid #3FC6F3; }
        body .wrapper nav > ul li.color-blue li:hover a {
          background-color: #3FC6F3;
          color: #FFF; }
      body .wrapper nav > ul li.color-red {
        border-top: 5px solid #FF625F; }
        body .wrapper nav > ul li.color-red li:hover a {
          background-color: #FF625F;
          color: #FFF; }
      body .wrapper nav > ul li.color-yellow {
        border-top: 5px solid #FEBD01; }
        body .wrapper nav > ul li.color-yellow li:hover a {
          background-color: #FEBD01;
          color: #FFF; }
      body .wrapper nav > ul li.color-green {
        border-top: 5px solid #46D7C6; }
        body .wrapper nav > ul li.color-green li:hover a {
          background-color: #46D7C6;
          color: #FFF; }
      body .wrapper nav > ul li.color-purple {
        border-top: 5px solid #9932cc; }
        body .wrapper nav > ul li.color-purple li:hover a {
          background-color: #9932cc;
          color: #FFF; }
      body .wrapper nav > ul li.color-gray {
        border-top: 5px solid #aaa; }
        body .wrapper nav > ul li.color-gray li:hover a {
          background-color: #aaa;
          color: #FFF; }
    body .wrapper .main {
      padding-top: 20px;
      width: 100%;
      height: 450px; }
      body .wrapper .main .canvas {
        position: relative;
        display: grid;
        grid-template: repeat(5, 1fr)/repeat(2, 1fr);
        height: 300px;
        align-items: center; }
        body .wrapper .main .canvas .foodpic {
          grid-area: 1/1/6/2;
          justify-self: center;
          width: 85%;
          height: 83%;
          border-radius: 5px; }
        body .wrapper .main .canvas h2 {
          grid-area: 1/2/2/3;
          text-align: left;
          color: #333;
          font-size: 24px; }
        body .wrapper .main .canvas ul {
          grid-area: 2/2/3/4; }
          body .wrapper .main .canvas ul .kcal {
            background-color: #ff1493;
            color: white; }
            body .wrapper .main .canvas ul .kcal + li {
              color: #333; }
          body .wrapper .main .canvas ul li {
            width: 45px;
            text-align: center;
            border: 1px solid #ff1493; }
        body .wrapper .main .canvas .spicy {
          grid-area: 3/2/4/3; }
          body .wrapper .main .canvas .spicy li {
            color: #333;
            display: inline-block;
            margin-right: 20px;
            box-sizing: border-box;
            height: 35px;
            width: 25%;
            text-align: center;
            border: 1px solid black;
            border-radius: 5px;
            line-height: 35px;
            font-size: 16px; }
        body .wrapper .main .canvas .meat {
          grid-area: 4/2/5/3; }
          body .wrapper .main .canvas .meat li {
            color: #333;
            display: inline-block;
            margin-right: 0.6%;
            box-sizing: border-box;
            height: 35px;
            width: 18%;
            text-align: center;
            border: 1px solid black;
            border-radius: 5px;
            line-height: 35px;
            font-size: 15px; }
        body .wrapper .main .canvas .active {
          background-color: #c4fd34;
          border: none; }
      body .wrapper .main .canvas:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../pics/wood.JPEG);
        background-size: contain;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: -1; }
      body .wrapper .main h1 {
        font-size: 16px; }
  body footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    padding-top: 10px;
    background-color: #fff; }
    body footer p {
      font-size: 10px;
      grid-column: 3/span 4;
      text-align: left; }
    body footer img {
      width: 50%;
      height: auto; }
    body footer .fb {
      grid-column: 12/span 1; }
    body footer .ig {
      grid-column: 13/span 1; }
    body footer .gh {
      grid-column: 14/span 1; }

/*# sourceMappingURL=style2.css.map */
